<div style="font-family: sans-serif">
    <h2 style="color: rgb(88, 69, 64)">
        Hello <span style="color: #222222">
            <%= email %>
        </span>
    </h2>

    <p style="color: gray">
        You logged in to your account in <%= today.toDateString() %> at
            <%=today.toLocaleDateString() %>
    </p>
    Thanks
</div>