<div style="font-family: sans-serif">
    <h2 style="color: rgb(88, 69, 64)">
        Verify your email address <span style="color: #222">
            <%= email %>
        </span>
    </h2>

    <p style="color: gray">
        Click on the link in the below to activate your account
    </p>
    <a href="<%= link %>"> Verify Yout Email </a>
</div>